@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Englandsvej 38D st tv<br />
    2300 Kbh S<br />
    <abbr title="Phone">P:</abbr>
    50 99 29 56
</address>

<address>
    <strong>Email:</strong> <a href="mailto:asa.wegelius@gmail.com">asa.wegelius@gmail.com</a><br />
</address>
